.solver_item {
	background: #5b9aa0;
  	color: white;
  	padding: 30px;
  	border-style: solid;
  	font-size: 30px;
}
.solver_item.solved {
	background: #b8a9c9;
	color: white;
  	padding: 30px;
  	border-style: solid;
  	font-size: 30px;
}
.solver_item_empty {
	.solver_item;
	background: white;
	color: white;
}
table.solver_table {
	align: center;
	width: 40%;
}
.loading_image {
	width: 10%;
	height: 10%;
}
.solver_cell {
	height: 100px;
	width: 100px;
}
.another-puzzle-btn {
	background-color: #d6d4e0: 
}
