<!DOCTYPE html>
<html>
<head>
  <% include ../../partials/header.ejs %>
  <link rel="stylesheet" type="text/css" href="stylesheets/solver.css">
  <script type="text/javascript" src="/scripts/loadpuzzle.js"></script>
</head>

<body onload="onload('puzzle_container', '<%= puzzleDataSource %>')">

  <% include ../../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <!-- <a href="/" class="lang-logo"> -->
      <!-- <img src="/lang-logo.png"> -->
    <!-- </a> -->
    <p>Move around the numbers till they are okay with each other.</p>
    <a type="button" class="btn btn-lg btn-default" href="/solve"><span class="glyphicon glyphicon-flash"></span> Another Puzzle</a>
    <!-- <a type="button" class="btn btn-lg btn-primary" href="#"><span class="glyphicon glyphicon-download"></span> Ongoing Puzzles</a> -->
  </div>
</div>
<div class="container text-center">
  <p class="text-center">Click the number to be moved.</p>
  <div id="puzzle_container" class="container text-center">
    <img src="images/loading.gif" class="loading_image">
  </div>
</div>
  
  


</body>
</html>
