<!DOCTYPE html>
<html>
<head>
  <% include ../../partials/header.ejs %>
  <link rel="stylesheet" type="text/css" href="stylesheets/solver.css">
  <script type="text/javascript" src="/scripts/createpuzzle.js"></script>
  <script type="text/javascript" src="/scripts/loadpuzzle.js"></script>
</head>

<body onload="onload('puzzle_container', '<%= puzzleDataSource3 %>')">

  <% include ../../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <!-- <a href="/" class="lang-logo"> -->
      <!-- <img src="/lang-logo.png"> -->
    <!-- </a> -->
    <p>Move around the numbers till they are okay with each other.</p>
    <!-- <table> -->
      <!-- <tr>
        <label class="switch">
          <input id="checkbox_size" type="checkbox" unchecked>
          <span class="slider round"></span>
        </label>
        <span id="puzzle_size_span" class="btn-lg btn-default">3x3</span>
      </tr> -->
      <!-- <tr> -->
        <a type="button" id="another_puzzle_btn" class="btn btn-lg btn-default another-puzzle-btn" onclick="reloadPuzzle('puzzle_container', '<%= puzzleDataSource3 %>')"><span class="glyphicon glyphicon-flash"></span> New 3x3 Puzzle</a>
        <a type="button" id="another_puzzle_btn" class="btn btn-lg btn-default another-puzzle-btn" onclick="reloadPuzzle('puzzle_container', '<%= puzzleDataSource4 %>')"><span class="glyphicon glyphicon-flash"></span> New 4x4 Puzzle</a>
      <!-- </tr> -->
    <!-- </table> -->
    
    
    <!-- <a type="button" class="btn btn-lg btn-primary" href="#"><span class="glyphicon glyphicon-download"></span> Ongoing Puzzles</a> -->
  </div>
</div>
<div class="container text-center">
  <p id= "action_placeholder" class="text-center">Loading your puzzle...</p>
  <div id="puzzle_container" class="container text-center">
    <img src="images/loading.gif" class="loading_image">
  </div>
</div>
  
  


</body>
</html>
