<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <% include ../partials/nav.ejs %>
<div class="jumbotron text-center">
  <div class="container">
    <h1>Puzzlr - Your puzzle home</h1>
    <p>Make the most of your breaks. Start a new puzzle or resume solving your old puzzle.</p>
    <a type="button" class="btn btn-lg btn-default" href="/solve"><span class="glyphicon glyphicon-flash"></span> Puzzle Me</a>
    <a type="button" class="btn btn-lg btn-primary" href="/play"><span class="glyphicon glyphicon-download"></span> WARZONE</a>
  </div>
</div>
<div class="container text-center">
  <p><img src="images/loading.gif" class="loading_image"></p>
</div>
  
  


</body>
</html>
